@model IEnumerable<Ensco.Irma.Oap.WebClient.Corp.OapChecklistGroup>
@{
    ViewBag.Title = "Oap Checklist Groups";
}

@section scripts
{
    <script type="text/javascript">
         
        function onToolbarItemClick(s, e) {
            switch (e.item.name) {
                case "AddNewChecklistGroup":
                case "AddNewChecklistSubGroup":
                    s.AddNewRow();
                    break; 
            }
        }
    </script>
}

@*<h1 class="area-headers">@ViewBag.Title</h1>*@
<div class="oap-master-grid">
    <form>
        @Html.Partial("OapChecklistGroupPartial", Model)
    </form>   
</div>
