<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>RIG-UAT</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://devweb01.enscoplc.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddr-oaweb01npz</MSDeployServiceURL>
    <DeployIisAppPath>EnscoApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>IRMA-Deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnscoHangfireIrmaConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=kpi_read;password=KPIiadc123;Data Source=ddr-oasql02np; Initial Catalog=EnscoIRMA_DEV" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoHangfireIrmaConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=kpi_read;password=KPIiadc123;Data Source=ddr-oasql02np; Initial Catalog=EnscoIRMA_DEV" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnscoMasterEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoMaster;Persist Security Info=True;User ID=kpi_read;Password=KPIiadc123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoMasterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EnscoMaster.csdl|res://*/EnscoMaster.ssdl|res://*/EnscoMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoMaster;persist security info=True;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnscoIrmaEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoIrma_DEV;User ID=kpi_read;Password=KPIiadc123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoIrmaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EnscoIrma.csdl|res://*/EnscoIrma.ssdl|res://*/EnscoIrma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoIrma_DEV;user id=kpi_read;password=KPIiadc123;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnscoTlcEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoIrma_DEV;User ID=kpi_read;Password=KPIiadc123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoTlcEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EnscoTlcEntities.csdl|res://*/EnscoTlcEntities.ssdl|res://*/EnscoTlcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoIrma_DEV;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EnscoHangfireIrmaConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="EnscoTlcEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EnscoMasterEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EnscoIrmaEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>