<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Releases\1.0\Ensco.App.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnscoMasterEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoMaster;User ID=kpi_read;Password=KPIiadc123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoMaster;Persist Security Info=True;User ID=kpi_read;Password=KPIiadc123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoMasterEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EnscoMaster.csdl|res://*/EnscoMaster.ssdl|res://*/EnscoMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoMaster;persist security info=True;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EnscoIrmaEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoIrma;User ID=kpi_read;Password=KPIiadc123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EnscoIrmaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EnscoIrma.csdl|res://*/EnscoIrma.ssdl|res://*/EnscoIrma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoIrma;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EnscoIrmaEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EnscoMasterEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EnscoMaster.csdl|res://*/EnscoMaster.ssdl|res://*/EnscoMaster.msl;provider=System.Data.SqlClient;provider connection string="data source=DDR-OASQL02NP;initial catalog=EnscoMaster;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>