<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="Westwind.Globalization" version="3.0.0" targetFramework="net452" />
  <package id="Westwind.Globalization.Web" version="3.0.0" targetFramework="net452" />
  <package id="Westwind.Utilities" version="3.0.10" targetFramework="net452" />
  <package id="Westwind.Web" version="2.76" targetFramework="net452" />
</packages>