@model IEnumerable<Ensco.Irma.Oap.WebClient.Corp.OapGraphic>
@{
    ViewBag.Title = "Oap Graphics";
}
@*<h1 class="area-headers">@ViewBag.Title</h1>*@

@section scripts
{
    <script type="text/javascript">

        function onToolbarItemClick(s, e) {
            switch (e.item.name) {
                case "AddNewGraphic":
                    s.AddNewRow();
                    break;
            }
        }
    </script>
}

@using (Html.BeginForm())
{
    @Html.Partial("OapGraphicPartial", Model)
}
