@model IEnumerable<Ensco.Irma.Oap.WebClient.Corp.RigOapChecklistQuestionFinding> 

@section Scripts {
    <script type="text/javascript">   
       

    </script>
}

<div class="rig-oap-main-view">   
    @Html.Partial("GenericlistFindingPartial", Model)    
</div>


