@model IEnumerable<Ensco.Irma.Oap.WebClient.Corp.OapHierarchy>
@{
    ViewBag.Title = "Oap Types";
}

@section scripts
{
    <script type="text/javascript">
        function onToolbarItemClick(s, e) {
            switch (e.item.name) {
                case "AddNewOapType": 
                case "AddNewOapSubType":
                    s.AddNewRow();
                    break;
            }
        }
    </script>
}

@*<h1 class="area-headers">@ViewBag.Title</h1>*@
<div class="oap-master-grid">
    <form>
        @Html.Partial("OapTypesMasterPartial", Model)
    </form> 
</div>
