@model Ensco.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
@using Ensco.App.Helpers


@Html.DevExpress().PopupControl(pc =>
{
    pc.Name = "pcChangePassword";
    pc.Modal = true;
    pc.Width = 320;
    pc.AllowDragging = true;
    pc.CloseAction = CloseAction.CloseButton;
    pc.CloseOnEscape = true;
    pc.PopupAnimationType = AnimationType.None;
    pc.HeaderText = (string)HttpContext.GetGlobalResourceObject("Resources", "Ensco.Common.ChangePassword");
    pc.AutoUpdatePosition = true;
    pc.ShowOnPageLoad = true;
    pc.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    pc.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    pc.SetContent(() =>
    {
        using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { id = "popupForm", @class = "edit_form" }))
        {
            //ViewContext.Writer.Write(Html.AntiForgeryToken().ToHtmlString());
            ViewContext.Writer.Write(Html.HiddenFor(x => x.Cancel).ToHtmlString());

            Html.DevExpress().FormLayout(s =>
            {
                s.Name = "ModalModeFormLayout";
                s.RequiredMarkDisplayMode = RequiredMarkMode.None;
                s.Width = Unit.Percentage(100);
                s.Height = Unit.Percentage(100);

                s.NestedExtensionWidth = Unit.Percentage(100);
                s.Items.Add(x=>x.CurrentPassword, i =>
                {
                    i.FieldName = "CurrentPassword";
                    i.NestedExtension().TextBox(item =>
                    {
                        item.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                        item.Properties.ValidationSettings.Display = Display.Dynamic;
                        item.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        item.Properties.Password = true;
                    });
                });
                s.Items.Add(x => x.NewPassword, i =>
                {
                    i.FieldName = "NewPassword";
                    i.NestedExtension().TextBox(item =>
                    {
                        item.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                        item.Properties.ValidationSettings.Display = Display.Dynamic;
                        item.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        item.Properties.Password = true;
                    });
                });
                s.Items.Add(x => x.ConfirmPassword, i =>
                {
                    i.FieldName = "ConfirmPassword";
                    i.NestedExtension().TextBox(item =>
                    {
                        item.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
                        item.Properties.ValidationSettings.Display = Display.Dynamic;
                        item.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        item.Properties.Password = true;
                    });
                });
                s.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                    i.SetNestedContent(() =>
                    {
                        ViewContext.Writer.Write("<div style='float:right'>");
                        Html.DevExpress().Button(
                            buttonSettings =>
                            {
                                buttonSettings.Name = "btnUpdate";
                                buttonSettings.ControlStyle.CssClass = "button";
                                buttonSettings.Width = 80;
                                buttonSettings.Text = (string)HttpContext.GetGlobalResourceObject("Resources", "Ensco.Common.Button.OK");
                                buttonSettings.UseSubmitBehavior = true;
                            }
                        ).Render();

                        Html.DevExpress().Button(
                            buttonSettings =>
                            {
                                buttonSettings.Name = "btnCancel";
                                buttonSettings.ControlStyle.CssClass = "button";
                                buttonSettings.Width = 80;
                                buttonSettings.Text = (string)HttpContext.GetGlobalResourceObject("Resources", "Ensco.Common.Button.Cancel");
                                buttonSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                buttonSettings.UseSubmitBehavior = true;
                                buttonSettings.ClientSideEvents.Click = "function(s, e){ document.getElementById('Cancel').value = true; pcChangePassword.Hide(); }";
                            }
                        ).Render();
                        ViewContext.Writer.Write("</div>");
                    });

                   if(ViewData.ModelState.Values.Any(x => x.Errors.Count >= 1))
                    {
                        Html.DevExpress().Label(lblsettings =>
                        {
                            lblsettings.Name = "ErrorMsg";
                            lblsettings.Text = (ViewData.ModelState["ChangePasswordError"] != null) ? ViewData.ModelState["ChangePasswordError"].Errors[0].ErrorMessage : "";
                            lblsettings.ControlStyle.ForeColor = System.Drawing.Color.Red;
                        }).GetHtml();
                    }
                });
            }).Render();
        }
    });
}).GetHtml()

