@model Ensco.Models.ResetPasswordModel

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "popupResetPassword";
    settings.Width = 320;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseOnEscape = true;
    settings.PopupAnimationType = AnimationType.None;
    settings.HeaderText = "Reset Password";
    settings.Modal = true;
    settings.AutoUpdatePosition = true;
    settings.ShowOnPageLoad = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.SetContent(() =>
    {
        using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "popupFormResetPassword", @class = "edit_form" }))
        {
            Html.DevExpress().FormLayout(s =>
            {
                s.Name = "UserRecordModalModeFormLayout";
                s.RequiredMarkDisplayMode = RequiredMarkMode.None;
                s.Width = Unit.Percentage(100);
                s.Height = Unit.Percentage(100);

                s.NestedExtensionWidth = Unit.Percentage(100);
                s.ColCount = 1;
                s.Items.Add(x=>x.Passport, i =>
                {
                    Html.EnscoNestedEditor(i, x => x.Passport);
                });
                s.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                    i.SetNestedContent(() =>
                    {
                        ViewContext.Writer.Write("<div style='float:right; padding-right:30px'>");
                        Html.DevExpress().Button(
                            buttonSettings =>
                            {
                                buttonSettings.Name = "btnUpdate";
                                buttonSettings.ControlStyle.CssClass = "button";
                                buttonSettings.Width = 80;
                                buttonSettings.Text = "OK";
                                buttonSettings.UseSubmitBehavior = true;
                            }
                        ).Render();
                        ViewContext.Writer.Write("&nbsp;&nbsp;");
                        Html.DevExpress().Button(
                            buttonSettings =>
                            {
                                buttonSettings.Name = "btnCancel";
                                buttonSettings.ControlStyle.CssClass = "button";
                                buttonSettings.Width = 80;
                                buttonSettings.Text = "Cancel";
                                buttonSettings.ClientSideEvents.Click = "function(s, e){ popupResetPassword.Hide(); }";
                            }
                        ).Render();
                        ViewContext.Writer.Write("</div>");
                    });
                });
            }).Render();
        }
    });
}).GetHtml()

