<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  -->
  <appSettings>
    <!--<add key="RigId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="user id=sa;password=ensco123$;Data Source= LR9Z0076;  Initial Catalog=EnscoIRMA_DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="http://localhost/Ensco.App/" xdt:Locator="Match(key)"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="EnscoMasterEntities" connectionString="metadata=res://*/EnscoMaster.csdl|res://*/EnscoMaster.ssdl|res://*/EnscoMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LR9Z0076;initial catalog=EnscoMaster;persist security info=True;user id=sa;password=ensco123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoIrmaEntities" connectionString="metadata=res://*/EnscoIrma.csdl|res://*/EnscoIrma.ssdl|res://*/EnscoIrma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LR9Z0076;initial catalog=EnscoIrma_DEV;user id=sa;password=ensco123$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoHangfireIrmaConnection" connectionString="user id=sa;password=ensco123$;Data Source=LR9Z0076; Initial Catalog=EnscoIRMA_DEV" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoTlcEntities" connectionString="metadata=res://*/EnscoTlcEntities.csdl|res://*/EnscoTlcEntities.ssdl|res://*/EnscoTlcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LR9Z0076;initial catalog=tlc;user id=tlc_user;password=Nonprodtlc01!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
