<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

  </system.web>
  <connectionStrings>
    <add name="EnscoMasterEntities" connectionString="metadata=res://*/EnscoMaster.csdl|res://*/EnscoMaster.ssdl|res://*/EnscoMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoMaster;persist security info=True;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoIrmaEntities" connectionString="metadata=res://*/EnscoIrma.csdl|res://*/EnscoIrma.ssdl|res://*/EnscoIrma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoIrma_DEV;user id=kpi_read;password=KPIiadc123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoHangfireIrmaConnection" connectionString="user id=kpi_read;password=KPIiadc123;Data Source=DDR-OASQL02NP; Initial Catalog=EnscoIRMA_DEV"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EnscoTlcEntities" connectionString="metadata=res://*/EnscoTlcEntities.csdl|res://*/EnscoTlcEntities.ssdl|res://*/EnscoTlcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DDR-OASQL02NP;initial catalog=EnscoIRMA_Dev;user id=kpi_read;password=KPIiadc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RigId" value="63" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RigWebApiUrl" value="http://localhost:8083/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CorpWebApiUrl" value="http://localhost:8081/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ConnectionString" value="user id=kpi_read;password=KPIiadc123;Data Source=DDR-OASQL02NP;  Initial Catalog=EnscoIRMA_DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DateTimeFormat" value="dd-MMM-yyyy" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <DbResourceConfiguration>
    <add key="ConnectionString" value="user id=kpi_read;password=KPIiadc123;Data Source=DDR-OASQL02NP; Initial Catalog=EnscoIRMA_DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </DbResourceConfiguration>
</configuration>