@model Ensco.Irma.Oap.WebClient.Corp.RigOapChecklistQuestionFinding

@{
    ViewBag.Title = ViewBag.Title ?? "Finding";   
}
 
<div class="rig-oap-main-view">     
    @Html.Partial("FindingPagePartial", Model)  
</div>


