@model IEnumerable<Ensco.Irma.Oap.WebClient.Corp.OapChecklistEquipment>
@{
    ViewBag.Title = "Checklist and Protocaol Plant List";
}

@section scripts
{
    <script type="text/javascript">
         
        function onToolbarItemClick(s, e) {
            switch (e.item.name) {
                case "AddNewChecklistEquipment": 
                    s.AddNewRow();
                    break; 
            }
        }
    </script>
}

@*<h1 class="area-headers">@ViewBag.Title</h1>*@
<div class="oap-master-grid">
    <form>
        @Html.Partial("OapChecklistEquipmentPartial", Model)
    </form>  
</div>
