@model Ensco.Irma.Models.ParkingLotPobModel

@using (Html.BeginForm("FlightParkingLotAddDepartingPartial", "Personnel", FormMethod.Post))
{
    Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "popupControlParkingLotDeparting";
        settings.CallbackRouteValues = new { Controller = "Personnel", Action = "FlightParkingLotAddDeparting" };
        settings.CloseAction = CloseAction.OuterMouseClick;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.ShowFooter = true;
        settings.AllowDragging = true;
        settings.EnableHotTrack = true;
        settings.Height = Unit.Percentage(100);
        settings.Width = Unit.Percentage(100);
        settings.HeaderText = "Add Departing Personnel";

        settings.SetContent(() =>
        {        
            Html.RenderAction("FlightParkingLotAddDepartingPartial", "Personnel", new { Area = "IRMA" });
        });
        settings.SetFooterTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"display: table; margin: 6px 6px 6px auto;\">");
            Html.DevExpress().Button(buttonsettings =>
            {
                buttonsettings.Name = "btnDepartPersonnel";
                buttonsettings.Text = "Add";
                buttonsettings.UseSubmitBehavior = true;
            }).Render();
            ViewContext.Writer.Write("</div>");
        });
    }).GetHtml();
}


