@model Ensco.Irma.Models.MovePersonnelModel

@using (Html.BeginForm("MovePersonnelPartial", "Personnel", FormMethod.Post))
{
    Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "popupControlMovePersonnel";
        settings.CallbackRouteValues = new { Controller = "Personnel", Action = "MovePersonnel" };
        settings.CloseAction = CloseAction.OuterMouseClick;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.ShowFooter = true;
        settings.AllowDragging = true;
        settings.EnableHotTrack = true;
        settings.Height = Unit.Percentage(100);
        settings.Width = Unit.Percentage(100);
        settings.HeaderText = "Move Personnel";

        settings.SetContent(() =>
        {
            Html.RenderAction("MovePersonnelPartial", "Personnel", new { Area = "IRMA" });
        });
        settings.SetFooterTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"display: table; margin: 6px 6px 6px auto;\">");
            Html.DevExpress().Button(buttonsettings =>
            {
                buttonsettings.Name = "btnMovePersonnel";
                buttonsettings.Text = "Move";
                buttonsettings.UseSubmitBehavior = true;
            }).Render();
            ViewContext.Writer.Write("</div>");
        });
    }).GetHtml();
}


