@*@model Ensco.Irma.Models.PobBoardingModel*@

@Html.DevExpress().PopupControl(settings => {
    settings.Name = "popupControl";
    settings.CallbackRouteValues = new { Controller = "Personnel", Action = "OnboardPersonnelFromFlight" };
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.ShowFooter = true;
    settings.AllowDragging = true;
    settings.EnableHotTrack = true;
    settings.Height = Unit.Pixel(130);
    settings.Width = Unit.Pixel(310);
    settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;
    //settings.PopupElementID = "ShowButton";
    settings.HeaderText = "Updatable content";

    settings.SetContent(() => {
        ViewContext.Writer.Write(
            "<div style=\"vertical-align:middle\">" +
                "The content of this popup control was updated at <b> " + DateTime.Now.ToLongTimeString() + "</b>" +
            "</div>"
        );
    });

    settings.SetFooterTemplateContent(c => {
        ViewContext.Writer.Write("<div style=\"display: table; margin: 6px 6px 6px auto;\">");
        Html.DevExpress().Button(buttonsettings => {
            buttonsettings.Name = "updateButton";
            buttonsettings.Text = "Update Content";
            buttonsettings.ClientSideEvents.Click = "function(s, e) { popupControl.PerformCallback(); }";
        }).Render();
        ViewContext.Writer.Write("</div>");
    });
}).GetHtml()


